{{ 'product-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign collection = section.settings.collection

  if collection != blank and collection.products.size > 0
    assign random_index = 'now' | date: '%N' | modulo: collection.products.size
    assign random_product = collection.products[random_index]
    assign product_data = collection.products | map: 'title'
  else
    assign random_product = null
    assign product_data = null
  endif
%}

<random-product data-collection="{{ product_data | json }}" class="random-product page-width">
  <div class="page-width">
  {% if random_product %}
    {% render 'product-card',
      product: random_product,
      media_aspect_ratio: section.settings.image_ratio,
      image_shape: section.settings.image_shape,
      show_secondary_image: section.settings.show_secondary_image,
      show_vendor: section.settings.show_vendor,
      show_rating: section.settings.show_rating,
      lazy_load: lazy_load,
      show_quick_add: section.settings.enable_quick_add,
      section_id: section.id
    %}
  {% endif %}
  </div>
</random-product>

<script src="{{ 'component-product-card.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "random-product",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "random-product"
    }
  ]
}
{% endschema %}
